<div class="col-md-6">
    <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Organization_Unit</th>
      <th>DisplayName</th>
      <th>Function</th>
      <th>Email</th>
  
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.ID}}</td>
            <td>{{employee.FirstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.Organization_Unit}}</td>
            <td>{{employee.DisplayName}}</td>
            <td>{{employee.Function}}</td>
            <td>{{employee.Email}}</td>
  
  
            <td><button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button></td>
            </tr>
    </tbody>
      </table>
      </div>